<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OLA Press Clip</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap Ecommerce Template" name="keywords">
        <meta content="Bootstrap Ecommerce Template Free Download" name="description">

        <!-- Favicon -->
        <link href="/img_main/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/lib/slick/slick.css" rel="stylesheet">
        <link href="/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/css_main/style.css" rel="stylesheet">
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
<!-- bxSlider Javascript file -->
<script src="/js_main/jquery.bxslider.js"></script>
<!-- bxSlider CSS file -->
<link href="/css_main/jquery.bxslider.css" rel="stylesheet" />
    </head>

    <body>
        <!-- Top Header Start -->
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="logo">
                            <a href="index.html">
                                <img src="/img_main/Seal_Blue.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header End -->


        <!-- Header Start -->
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav m-auto">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="#" class="nav-item nav-link">Press Clips</a>
                            <a href="#" class="nav-item nav-link">About Us</a>
                           
                            <a href="contact.html" class="nav-item nav-link">Contact Us</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Header End -->


        <!-- Top News Start-->
        <div class="top-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 tn-left">
                        <div class="tn-img">
                            <img src="/img_main/5x7=2.jpg" />
                            <div class="tn-content">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 tn-right">
                        <div class="row">
                
                            <div class="col-md-12">
                                <div class="tn-img news">
								<h4>Latest News</h4>
								<div class="mq">
                                    <marquee behavior="scroll" scrollamount="3" loop="infinite" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
		   
		   <ul>
		   <li> <a href="#" target="_blank">PAPERS TO BE LAID ON THE TABLE Thursday, July 29, 2021 </a></li>
		    <li> <a href="#" target="_blank">PAPERS TO BE LAID ON THE TABLE Thursday, July 29, 2021 </a></li>
			 <li> <a href="#" target="_blank">PAPERS TO BE LAID ON THE TABLE Thursday, July 29, 2021 </a></li>
			  <li> <a href="#" target="_blank">PAPERS TO BE LAID ON THE TABLE Thursday, July 29, 2021 </a></li>
		 
		 <li> <a href="#" target="_blank">PAPERS TO BE LAID ON THE TABLE Thursday, July 29, 2021 </a></li>
		 <li> <a href="#" target="_blank">PAPERS TO BE LAID ON THE TABLE Thursday, July 29, 2021 </a></li>
		 
		 <li> <a href="#" target="_blank">PAPERS TO BE LAID ON THE TABLE Thursday, July 29, 2021 </a></li>
		 <li> <a href="#" target="_blank">PAPERS TO BE LAID ON THE TABLE Thursday, July 29, 2021 </a></li>
		   
		   
		   </ul>
		   
		   </marquee>
		   </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="tn-img">
                                    <ul class="bxslider">
  <li><img src="/img_main/e1.jpg" /></li>
  <li><img src="/img_main/e2.jpg" /></li>
  <li><img src="/img_main/e1.jpg" /></li>
  <li><img src="/img_main/e2.jpg" /></li>
</ul>
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider();
});

</script>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top News End-->


        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2><i class="fas fa-align-justify"></i>Latest Press Clips</h2>
                        <div class="row cn-slider">
                            <div class="col-md-3">
                                <div class="cn-img">
                                    <img src="/img_main/5df68cb27d4f1.jpg" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                            <a class="cn-title" href="">Cras sed semper puru vitae lobortis velit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="cn-img">
                                    <img src="/img_main/unnamed.jpg" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                            <a class="cn-title" href="">Vestibulum ante ipsum primis</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="cn-img">
                                    <img src="/img_main/608934-odia-news-paper.jpg" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                            <a class="cn-title" href="">Sed quis convallis lacus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-md-3">
                                <div class="cn-img">
                                    <img src="/img_main/28062021-md-km-1s.jpg" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                            <a class="cn-title" href="">Sed quis convallis lacus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-md-3">
                                <div class="cn-img">
                                    <img src="/img_main/nitidin epaper.jpg" />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                            <a class="cn-title" href="">Sed quis convallis lacus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Category News End-->


     


        
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Useful Links</h3>
                            <ul>
                                <li><a href="https://india.gov.in">india.gov.in</a></li>
                                <li><a href="https://odisha.gov.in">odisha.gov.in</a></li>
                                <li><a href="https://odisha.data.gov.in">odisha.data.gov.in</a></li>
                                <li><a href="https://www.nic.in/">www.nic.in</a></li>
                                <li><a href="https://odisha.nic.in/">odisha.nic.in</a></li>
								 <li><a href="https://inpr.odisha.gov.in">inpr.odisha.gov.in</a></li>
                                <li><a href="https://enews.nic.in">enews.nic.in</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul>   <li><a href="https://cm.odisha.gov.in/">cm.odisha.gov.in</a></li>
							   <li><a href="https://www.pmindia.gov.in/en/">pmindia.gov.in</a></li>
                                <li><a href="https://odishaassembly.nic.in/">odishaassembly.nic.in</a></li>
                               <li><a href="https://odisha.neva.gov.in">odisha.neva.gov.in</a></li>
                               <li><a href="https://parliamentofindia.nic.in/">parliamentofindia.nic.in</a></li>
							   <li><a href="https://loksabha.nic.in/">loksabha.nic.in</a></li>
							   <li><a href="https://rajyasabha.nic.in/">rajyasabha.nic.in</a></li>
							
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i> Odisha Legislative Assembly, Unit 5, Sachibalaya Marg, Bhubaneswar, Odisha 751001</p>
                                <p><i class="fa fa-envelope"></i>ola[at]nic[dot]in</p>
                                <p><i class="fa fa-phone"></i>0674-2536852 </p>
                                <div class="social">
                                    <a href="https://twitter.com/bidhanasabha"><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook"></i></a>
                                    <a href=""><i class="fab fa-linkedin"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.youtube.com/user/BidhanaSabha"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Reach Us</h3>
                            <div class="newsletter">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14968.62537361337!2d85.8343762!3d20.2937948!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x885119f2793c7!2sOdisha%20Legislative%20Assembly!5e0!3m2!1sen!2sin!4v1627456355790!5m2!1sen!2sin" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                <form>
                                    <input class="form-control" type="email" placeholder="Your email here">
                                    <button class="btn">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         


        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 copyright">
                        <p>Copyright &copy; <a href="#">Press Clips</a> Odisha Legisilative Assembly. All Rights Reserved</p>
                    </div>

                    <div class="col-md-5 template-by">
                        <p>Designed By <a href="#">NIC</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->


        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


        <!-- JavaScript Libraries -->
       
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>


        <!-- Template Javascript -->
        <script src="/js_main/main.js"></script>
    </body>
</html>
