
      	@layout('layouts.user_base')
        @section('content')
     <div class="page-inner">
					<div class="row">
						
						
						
						<div class="banner">
						<img src="/img/ola.png" alt="ola" width="100%" />
						</div>
						
						
						
						
						
						
					</div>
					
					
					
					
				</div>
      @endsection					
				